{# app/Resources/views/default/new.html.twig #}
{{ form_start(form) }}
{{ form_widget(form) }}
    <input type="submit" name="submitBtn" value="Submit">
{{ form_end(form) }}
<hr>
<a href="/{{ type }}">show list</a>